body{
    display: flex;
    flex-direction: column;
    font-family: Roboto, sans-serif;
    margin:0;
    height : 100vh;
}
.header{
    display: flex;
    flex-direction: column;
    background-color: #1F2937;
    gap: 32px;
    align-content: center;
    justify-content: space-between;
}

.header-container{
    flex:1;
    display: flex;
    flex-direction: column;
    align-content: stretch;
    justify-content: space-around;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 20px;
    margin-bottom: 50px;
    gap:50px;
  
}

.header img{
    flex:1;
    width:600px;
    height: 200px;
    background-color: #e5e7eb;
    text-align: center;
}

h1{
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
    margin: 0;
    margin-right: 10px;
}
.header ul, .header p{
    color: #e5e7eb;
    font-size: 18px;
}

.header ul{
    flex:1;
    text-decoration: none;
    list-style: none;
    display: flex;
    gap:20px;
    padding-inline-start: 0px;
}

.logo{
    font-size: 24px;
    font-weight: bold;
    color: #f9faf8;
    margin-right: auto;
}

.header-content{
    display: flex;
    justify-content: space-between;
  
}

.header-text{
    flex:1;
    display: flex;
    flex-wrap: wrap;
    margin-right:10px;
}

.header button{
    color: white;
    text-decoration: none;
    background-color: #3882f6;
    padding: 6px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 8px;
    border:none
}
.content{
    flex:1;
}

.footer{
    color: white;
    text-align: center ;
    background-color: #1F2937;
    padding: 10px;
    
}