body{
    display: flex;
    flex-direction: column;
    font-family: "Roboto";
}

.header{
    display: flex;
    flex-direction: column;
    background-color: #1F2937;
}

h1{
    font-size: 48px;
    font-weight: extra bold;
    color: #f9faf8;
}
.header ul, .header p{
    color: #e5e7eb;
    font-size: 18px;
}

.header ul{
    text-decoration: none;
    list-style: none;
}
.content{
    flex:1;
}

.footer{
    flex:1;
}

