body{
    display: flex;
    flex-direction: column;
    font-family: Roboto, sans-serif;
    margin:0;
}

.header{
    display: flex;
    flex-direction: column;
    background-color: #1F2937;
    gap: 32px;
    
}

h1{
    font-size: 48px;
    font-weight: extra bold;
    color: #f9faf8;
}
.header ul, .header p{
    color: #e5e7eb;
    font-size: 18px;
}

.nav-bar{
    margin: 20px;
}
.header ul{
    flex:1;
    text-decoration: none;
    list-style: none;
    display: flex;
    gap:20px;
    padding-inline-start: 0px;
}

.logo{
    margin-right: auto;
}

.content{
    flex:1;
}

.footer{
    flex:1;
}

